#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {

        behaviors {

        upq: up_question {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                layer_0 {
                        bindings = <

    &bootloader
    &kp GRAV   &kp NUM_1  &kp NUM_2  &kp NUM_3  &kp NUM_4  &kp NUM_5  &kp NUM_6        &kp NUM_7   &kp NUM_8         &kp NUM_9  &kp NUM_0  &kp MINUS  &kp EQUAL      &kp BACKSPACE
    &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp CAPSLOCK     &kp C_PP    &kp Y             &kp U      &kp I      &kp O      &kp P          &kp BSLH
    &gresc     &kp A      &kp S      &kp D      &kp F      &kp G                                   &kp H             &kp J      &kp K      &kp L      &kp SCLN       &kp ENTER
    &kp LEFT_SHIFT &kp Z  &kp X      &kp C      &kp V      &kp B      &kp C_NEXT       &kp K_NEXT  &kp N             &kp M      &kp CMMA   &kp DOT    &upq           &kp RSHFT
    &mo 1      &mo 2      &kp LCTL   &kp LALT   &kp LGUI                                                             &kp RGUI   &kp RALT   &kp SQT    &kp LBKT       &kp RBKT
                                                           &kp M_VOLD &kp M_VOLU       &kp M_MUTE  &kp C_PREV
                                                                      &kp HOME         &kp PGDN 
                                                &kp SPC    &kp INS                                 &kp LA(LS(LG(LC)))      &kp SPC
                                                                      &kp END          &mo PGDN 
                        >; 
                }; 
 
                layer_1 { 
                        bindings = < 
    &bootloader 
    &none      &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6           &kp F7      &kp F8            &kp F9     &kp F10    &kp F11    &kp F12        &kp DEL
    &none      &none      &none      &none      &none      &none      &none            &none       &none             &kp NUM_7  &kp NUM_8  &kp NUM_9  &kp PLUS       &none
    &none      &none      &none      &none      &none      &none                                   &none             &kp NUM_4  &kp NUM_5  &kp NUM_6  &kp MINUS      &none
    &none      &none      &none      &none      &none      &none      &none            &none       &none             &kp NUM_1  &kp NUM_2  &kp DOT    &upq           &kp RSHFT
    &mo 1      &mo 2      &kp LCTL   &kp LALT   &kp LGUI                                                             &kp RGUI   &kp RALT   &kp LEFT   &kp DOWN       &kp RIGHT
                                                           &none      &none            &kp M_VOLD  &kp M_VOLU
                                                                      &none            &none 
                                                &none      &none                                   &none             &none
                                                                      &none            &none 
                        >;       
                };       
       
                layer_2 {       
                        bindings = <       
    &bootloader       
    &none      &none      &none      &none      &none      &none      &none            &none       &none      &none      &none      &none      &none         &none
    &none      &none      &none      &none      &none      &none      &none            &none       &none      &none      &none      &none      &none         &none
    &none      &none      &none      &none      &none      &none                                   &none      &none      &none      &none      &none         &none
    &none      &none      &none      &none      &none      &none      &none            &none       &none      &none      &none      &none      &kp QUESTION  &kp RSHFT
    &none      &none      &none      &none      &none                                                         &none      &none      &none      &none         &none
                                                           &none      &none            &kp F14     &kp F15
                                                                      &none            &none 
                                                &none      &none                                   &none      &none
                                                                      &none            &none
                        >;      
                };

        };
};